{% extends "base.twig" %}

{% block title %}Homepage{% endblock %}
{% block content %}
    <h1>
        <center>This is homepage</center>
    </h1><br>
    <form method="POST" action="/insert.php">
        Name: <input type="text" name="name"><br>
        Surname: <input type="text" name="surname"><br>
        Index No: <input type="number" name="indexno"><br>
        Adress: <input type="text" name="adress"><br>
        <button name="save">Add</button>
    </form>
    <br>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Index No</th>
            <th>Adress</th>
            <th></th>
        </tr>
        {% for item in getAll %}
            <tr>
                <td>{{ item.getId }}</td>
                <td>{{ item.getName }}</td>
                <td>{{ item.getSurName }}</td>
                <td>{{ item.getIndexNo }}</td>
                <td>{{ item.getAdress }}</td>
                <td><button type="button"><a href="/edit">Edit</a></button>&nbsp;<button type="button">Delete</button></td>
            </tr>
            {% endfor %}
    </table>
{% endblock %}