{% extends "base.twig" %}

{% block title %}Homepage{% endblock %}
{% block content %}

    <form method="POST" action="/insert">
        Name: <input type="text" name="name" required><br>
        Surname: <input type="text" name="surname" required><br>
        Index No: <input type="number" name="indexno" required><br>
        Adress: <input type="text" name="adress" required><br>
        <button name="save">Add</button>
    </form>
    <br>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Index No</th>
            <th>Adress</th>
            <th></th>
        </tr>
        {% for item in getAll %}
            <tr>
                <td>{{ item.getId }}</td>
                <td>{{ item.getName }}</td>
                <td>{{ item.getSurName }}</td>
                <td>{{ item.getIndexNo }}</td>
                <td>{{ item.getAdress }}</td>
                <td>
                    <form method="POST" action="/read">
                        <button name={{ item.getId }}>Read</button>
                    </form>
                    <form method="POST" action="/updatePage">
                        <button name={{ item.getId }}>Update</button>
                    </form>
                    <form method="POST" action="/delete">
                        <button name={{ item.getId }}>Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}